/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

/* css reset */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html, body {
    height: 100%;
}
body {
    max-width: 100%;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}
li,ol,ul {
    list-style: none
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* general */
* {
    font-family: 'Noto Sans TC', sans-serif;
}

*:focus {
    outline: solid 4px var(--focus-color);
}

.displaynone {
    display: none !important;
}

.rotate180 {
    rotate: 180deg;
}

button:hover {
    cursor: pointer;
}

a[target="_blank"]:after {
    content: '';
    background-image: url('/assets/external-link.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    height: 0.7em;
    width: 0.7em;
    margin: 0 0.1em 0 0.1em;
}

/* css start */
:root {
    --primary-color: #894848; /*5.01:1 vs grey */
    --secondary-color: #595959; /* 5.15 vs #dddddd */
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #dddddd;
    --focus-color: #ff0000;
}

.theme-dark {
    --primary-color: #e2fcfa;
    --secondary-color: #F5F5F5; 
    --primary-bg-color: #282828;
    --secondary-bg-color: #055d54;
    --focus-color: #00ffaa;
} 


body {
    --content-width: minmax(1fr, 480px);
    background-color: var(--primary-bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    /* grid-column: 1 / -1; */
    /* height: 1000px; */

    width: 100%;
    padding: 1rem 0;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 5rem #00000033;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    height: 3.5rem;
    width: 3.5rem;
    background-color: transparent;
    margin: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn > box-icon{
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--primary-color);
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
}

.nav-bg {
    --nav-btn-height: 3rem;
    --nav-font-size: 1.5rem;
    --nav-font-weight: 600;
    --nav-btn-gap: 1rem;

    position: fixed;
    inset: 0;
    background-color: #000000;

    display: grid;
    grid-template-columns: 22rem calc(var(--nav-btn-height)) 1fr;
    grid-template-rows: calc(var(--nav-btn-height) + var(--nav-btn-gap) * 3) 1fr;
    grid-template-areas:
        "nav nav-close-btn ."
        "nav . .";
}

nav {
    grid-area: nav;
    background-color: var(--primary-bg-color);
    padding: 1rem;
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: var(--nav-btn-gap);
}

nav > * {
    flex-shrink: 0;
}

.menu-close-btn {
    grid-area: nav-close-btn;
    background-color: var(--primary-bg-color);
    margin: 1rem 0 0 0;
    /* padding: 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-close-btn > box-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--primary-color);
}

.search {
    width: 100%;
    height: var(--nav-btn-height);
    background-color: var(--secondary-bg-color);

    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-template-rows: 1fr;
    grid-template-areas: "search icon";
}

.search-input {
    grid-area: search;
    min-width: 0;
    padding: 0 1rem;
    border: none;
    background-color: transparent;    
}

.search-input::placeholder {
    color: var(--secondary-color); /* 5.15 vs #dddddd */
}


.search button {
    grid-area: icon;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search button > box-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--primary-color);
}

.nav-1-col, .nav-2-col {
    width: 100%;
}

.nav-1-col > button {
    width: 100%;
    height: var(--nav-btn-height);
    /* height: 100%; */
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: 0 0.5rem 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-1-col > button > box-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--primary-color);
    /* transition: .3s; */
}

.nav-2-col {
    height: var(--nav-btn-height);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "btn1 btn2";
    gap: var(--nav-btn-gap);
}

.nav-2-col > * {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    text-decoration: none;
    /* border-radius: 0.8rem; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-2-col > div:nth-child(1) {
    grid-area: btn1;
}

.nav-2-col > div:nth-child(2) {
    grid-area: btn2;
}

.nav-extend-ul {
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 0 1rem 1rem 2rem;
    color: var(--primary-color);

    
}

.nav-extend-ul > ul {
    display: flex;
    flex-direction: column;
    gap: calc(var(--nav-btn-gap) / 2);
}

.nav-extend-ul a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
}


/* main */
main {
    --content-width: minmax(1fr, 480px);

    width: var(--content-width);
}

.slides-container img {
    width: 100%;
    /* height: 100%; */
    /* overflow: hidden; */

}

section {
    margin-top: 1rem;

    width: var(--content-width);
    padding: 1rem;
    background-color: var(--primary-bg-color);

    display: grid;
    grid-template-columns: clamp(6rem, 40%, 10rem) 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "title content1"
        "title content2";
    gap: 1rem;
}

section a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-bg-color);
    /* transition: 0.1s; */
}

section a:hover {
    background-color: var(--primary-color);
    color: var(--primary-bg-color);
}


section a:has(h2) {
    grid-area: title;
    padding: 1rem;


    display: flex;
    justify-content: center;
    align-items: center;
}

section a:has(h2) h2 {
    font-size: 2.5rem;
    text-align: center;
    /* border: solid 1rem; */
}

section a:has(span)[content="1"] {
    grid-area: content1;
}

section a:has(span)[content="2"] {
    grid-area: content2;
}

section a:has(span) {
    padding: 1rem 1.8rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section p {
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    font-size: 1.5rem;
    font-weight: 600;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

section span {
    font-size: 1rem;
    font-weight: 600;
}
